#!ipxe

set                     server http://{{ hostvars[groups['debian-live-build'][0]]['ip_address'] }}
# boot parameters:
#   initrd=live         Use "live" as initrd.
#   fetch=...           Tell Debian Live's initrd's init to download a FS image.
#   boot=live           Tell Debian Live's initrd's init to use fetched image (not NFS) as root FS.
kernel                  ${server}/debian-live/amd64/debian-live/tftpboot/live/vmlinuz initrd=live fetch=${server}/debian-live/amd64/debian-live/binary/live/filesystem.squashfs boot=live
initrd --name live      ${server}/debian-live/amd64/debian-live/tftpboot/live/initrd.img
boot

